{% extends 'base/base_primerosauxilios.html' %}

{% block iniciales %}

      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <div id="inputs">

          <div class="row">
            <div class="col-lg-12 col-sm-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">group</i>
                    </span>
                  </div>
                  <input type="text" id="inspectorpa" class="form-control" placeholder="Escribe aquí tu nombre">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-sm-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">group</i>
                    </span>
                  </div>
                  <input type="text" id="puntopa" class="form-control" placeholder="Nombre del punto de Venta">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-sm-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">group</i>
                    </span>
                  </div>
                  <select name="cars" id="municipiopa" class="form-control">
                    <option value="" selected disabled hidden>Municipio</option>
                    <option value="Supía">Supía</option>
                    <option value="Supía">San José</option>
                    <option value="Supía">Samaná</option>
                    <option value="Supía">Salamina</option>
                    <option value="Supía">Risaralda</option>
                    <option value="Supía">Riosucio</option>
                    <option value="Supía">Pensilvania</option>
                    <option value="Supía">Palestina</option>
                    <option value="Supía">Pácora</option>
                    <option value="Supía">Norcasia</option>
                    <option value="Supía">Neira</option>
                    <option value="Supía">Marulanda</option>
                    <option value="Supía">Marquetalia</option>
                    <option value="Supía">Marmato</option>
                    <option value="Supía">Manzanares</option>
                    <option value="Supía">Manizales</option>
                    <option value="Supía">La merced</option>
                    <option value="Supía">La dorada</option>
                    <option value="Supía">Filadelfia</option>
                    <option value="Supía">Chinchiná</option>
                    <option value="Supía">Belalcázar</option>
                    <option value="Supía">Aranzazu</option>
                    <option value="Supía">Anserma</option>
                    <option value="Supía">Aguadas</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </div>

        </div>
      </div>


  {% endblock %}


  {% block bajalenguas %}
  <!-- Baja Lenguas -->

    <img src="{{ url_for('static', filename='img/bajalengua.png') }}" width="100px">
    <h3 class="title">Baja Lenguas</h3>
    <div>
        <label>
            <label for="cantidadbajalengua">Cantidad</label>
            <input type="number" id="cantidadbajalengua" class="form-control">
        </label>
    </div>
    <br>
    <div >
        <label class="form-date">
            <label for="fechavencimientobajalengua">Fecha de Vencimiento</label>
            <input type="date" id="fechavencimientobajalengua" name="fechavencimientobajalengua" class="form-control" placeholder="fechavencimientobajalengua">
        </label>
    </div>
    <br>
    Observaciones:
    <textarea class="form-control" id="bajalenguasobs" placeholder="Escriba aquí"></textarea>
    
{% endblock %}

{% block curas %}
<!-- Curas -->

  <img src="{{ url_for('static', filename='img/curas.png') }}" width="100px">
  <h3 class="title">Curas</h3>
  
  <div>
      <label>
          <label for="cantidadcuras">Cantidad</label>
          <input type="number" id="cantidadcuras" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientocuras">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientocuras" class="form-control" name="fechavencimientocuras" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="curasobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block gasa %}
<!-- Gasa -->

  <img src="{{ url_for('static', filename='img/gasa.png') }}" width="100px">
  <h3 class="title">Gasa precortada</h3>
  
  <div>
      <label>
          <label for="cantidadgasa">Cantidad</label>
          <input type="number" id="cantidadgasa" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientogasa">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientogasa" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="gasaobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block micropore %}
<!-- Micropore -->

  <img src="{{ url_for('static', filename='img/micropore.png') }}" width="100px">
  <h3 class="title">Micropore</h3>
  
  <div>
      <label>
          <label for="cantidadmicropore">Cantidad</label>
          <input type="number" id="cantidadmicropore" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientomicropore">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientomicropore" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="microporeobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block tohalla %}
<!-- Tohalla -->

  <img src="{{ url_for('static', filename='img/tohalla.png') }}" width="100px">
  <h3 class="title">Tohalla Higiénica</h3>
  
  <div>
      <label>
          <label for="cantidadtohalla">Cantidad</label>
          <input type="number" id="cantidadtohalla" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientotohalla">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientotohalla" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="tohallaobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block vendas %}
<!-- Vendas -->

  <img src="{{ url_for('static', filename='img/vendas.png') }}" width="100px">
  <h3 class="title">Vendas en rollo</h3>
  
  <div>
      <label>
          <label for="cantidadvenda">Cantidad</label>
          <input type="number" id="cantidadvenda" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientovenda">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientovenda" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="vendaobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block tapabocas %}
<!-- TapaBocas -->

  <img src="{{ url_for('static', filename='img/tapabocas.png') }}" width="100px">
  <h3 class="title">Tapabocas</h3>
  
  <div>
      <label>
          <label for="cantidadtapabocas">Cantidad</label>
          <input type="number" id="cantidadtapabocas" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientotapabocas">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientotapabocas" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="tapabocasobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block tijeras %}
<!-- tijeras -->

  <img src="{{ url_for('static', filename='img/tijeras.png') }}" width="100px">
  <h3 class="title">Tijeras</h3>
  
  <div>
      <label>
          <label for="cantidadtijeras">Cantidad</label>
          <input type="number" id="cantidadtijeras" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientotijeras">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientotijeras" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="tijerasobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block guantes %}
<!-- guantes -->

  <img src="{{ url_for('static', filename='img/guantes.png') }}" width="100px">
  <h3 class="title">Guantes</h3>
  
  <div>
      <label>
          <label for="cantidadguantes">Cantidad</label>
          <input type="number" id="cantidadguantes" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientoguantes">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientoguantes" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="guantesobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block yodopodidona %}
<!-- guantes -->

  <img src="{{ url_for('static', filename='img/yodopodidona.png') }}" width="100px">
  <h3 class="title">Yodopodidona</h3>
  
  <div>
      <label>
          <label for="cantidadyodopodidona">Cantidad</label>
          <input type="number" id="cantidadyodopodidona" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientoyodopodidona">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientoyodopodidona" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="yodopodidonaobs" placeholder="Escriba aquí"></textarea>
  
{% endblock %}

{% block solucion %}
<!-- guantes -->

  <img src="{{ url_for('static', filename='img/solucionsalina.jpg') }}" width="100px">
  <h3 class="title">Solución Salina</h3>
  
  <div>
      <label>
          <label for="cantidadsolucion">Cantidad</label>
          <input type="number" id="cantidadsolucion" class="form-control">
      </label>
  </div>
  <br>
  <div>
      <label class="form-date">
          <label for="fechavencimientosolucion">Fecha de Vencimiento</label>
          <input type="date" id="fechavencimientosolucion" class="form-control" placeholder="Cantidad">
      </label>
  </div>
  <br>
  Observaciones:
  <textarea class="form-control" id="solucionobs" placeholder="Escriba aquí"></textarea>
  

  <button type="button" class="btn btn-success btn-round" onclick="addPrimerosAuxilios();">Guardar</button>
{% endblock %}